<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Bowling Leagues</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header>
      <button id="loginbtn">LogIn</button>
      <div id="loginModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form id="logInForm" class="form" name="logIn" method="">
            LogIn:<br>
            <input id="logInUserName" type="text" name="userName" placeholder="Your User Name"><br>
            <input id="logInPassword" type="text" name="userPassword" placeholder="Your Password"><br>
            <input id="logInSubmitBtn" type="submit" name="logIn" value="LogIn">
          </form>
        </div>
      </div>
        <button id="signinbtn">SignIn</button>
        <div id="signinModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
              <form id="signUpForm" class="form" name="signUp" method="">
                SignUp:<br>
                <input type="text" name="userName" placeholder="Enter A User Name"><br>
                <input type="text" name="email" placeholder="Your Email Address"><br>
                <input type="text" name="password" placeholder="Password"><br>
                <input id="signUpSubmitBtn" type="submit" name="signUp" value="SignUp">
              </form>
          </div>
      </div>

      <aside class="rightSection">


      </aside>
      <h1>Welcome to the Multiple Bowling Leagues Score Tracker</h1>
      <p>If you enjoy bowling and are a member of two or more leagues, this tool is for you!<br>
      Track your scores by League or by Game.</p>
    </header>
