<% include partials/header %>

<section>
  <h1>Your Games Are Listed Below</h1>
</section>

<section>
  <table id="viewGames">
    <tr>
      <td>Game 1</td>
      <td>|| Game 2 ||</td>
      <td>Game 3</td>
      <td>|| Series Total ||</td>
      <td>Series Average</td>
    </tr>
    <tr>
      <td><%= data[0].game1 %></td>
      <td><%= data[0].game2 %></td>
      <td><%= data[0].game3 %></td>
      <td>Series Total</td>
      <td>Series Average</td>
    </tr>
  </table>
</section>

<% include partials/footer %>
