<% include partials/header %>

<h1>You made it to the game page</h1>
<section>
  
</section>

<section>
  <h1>Game 1 =</h1><h1> <%= data[1].game1 %> </h1>
</section>
<section>
  <h1>Game 2 =</h1><h1> <%= data[1].game2 %> </h1>
</section>
<section>
  <h1>Game 3 =</h1><h1> <%= data[1].game3 %> </h1>
</section>

<% include partials/footer %>
