<% include partials/header %>

<section>
  <a href="/newleague" id="createNewLeagueBtn">Create New League</a>
  <a href="/game" id="gotoGames">View Your Games</a>
  <a href="/logout" id="logout">Log Out</a>
</section>

<section>
  <h1>Welcome! Here Is Your League Information</h1>
</section>

<section>

    <% data.forEach(function(data) { %>
  <table>
      <tr>
        <td>League Name: <%= data.leagueName %></td>
      </tr>
      <tr>
        <td>League Location: <%= data.leagueLocation %></td>
      </tr>
  </table>
    <% }); %>

</section>

<section>
  <table>
    <tr>
      <td id="thisWeek">Week #: </td>
      <td id="thisSeries">Series Total: </td>
      <td id="thisAverage">Series Average: </td>
    </tr>
  </table>
</section>

<% include partials/footer %>
