<% include partials/header %>

<form id="newGameForm" class="form" name="newGameForm" action="" method="post">
  League Information:<br>
  <input id="game1Total" type="text" name="game1" placeholder="Game 1 Total"><br>
  <input id="game2Total" type="text" name="game2" placeholder="Game 2 Total"><br>
  <input id="game3Total" type="text" name="game3" placeholder="Game 3 Total"><br>
  <input id="gameCreateSubmitBtn" type="submit" name="gameCreate" value="gameCreate">
</form>

<% include partials/footer %>
