<% include partials/header %>

<form id="leagueDataForm" class="form" name="leagueDataForm" action="/league" method="POST">
  League Information:<br>
  <input id="leagueName" type="text" name="leagueName" placeholder="League Name"><br>
  <input id="locationName" type="text" name="leagueLocation" placeholder="Bowling Alley Name"><br>
  <input id="leagueCreateSubmitBtn" type="submit" name="leagueCreate" value="leagueCreate">
</form>

<% include partials/footer %>
