<% include partials/header %>

<form id="newLeagueForm" class="form" name="newLeagueForm" action="/" method="post">
  League Information:<br>
  <input id="leagueName" type="text" name="leagueName" placeholder="League Name"><br>
  <input id="locationName" type="text" name="leagueLocation" placeholder="Bowling Alley Name"><br>
  <input id="leagueCreateSubmitBtn" type="submit" name="leagueCreate" value="Post">
</form>

<% include partials/footer %>
