<% include partials/header %>

<h1>You made it to the user page</h1>
<section>
  <h3> <%= data[0].userEmail %> </h3>
</section>
<section>
  <h3> <%= data[0].userName %> </h3>
</section>

<% include partials/footer %>
