h1 {
  text-align: center;
  color: purple;
}
h3 {
  text-align: center;
  color: purple;
}
p {
  text-align: center;
  color: purple;
  font-size: 24px;
}
section {
  display: flex;
  justify-content: center;
}
img {
  height: 50%;
  width: 50%;
}
button {
  font-size: 24px;
  border-width: medium;
  border-radius: 5px;
  border-style: outset;
}
.hidden {
  display: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    /* background-color: rgb(0,0,0); /* Fallback color */ */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
aside {
  position: fixed;
  display: flex;
  align-content: flex-end;
}
form {
  border-width: 5px;
  border-style: inset;
}
